.App {
  text-align: center;
}

body {
  background-color: white;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.nav {
  background: rgb(114,181,115);
}

.nav a {
  color: white;
  font-size: 30px;
}

ul.nav a:hover {
  /*transform: translateX(5px);*/
  background: rgb(114,181,115);
}

.nav li {
  padding: 0;
}

.nav li:hover {
  background-color: rgb(114,181,115);
}

.content-container {
  min-height: 500px;
}

ul {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 20px;
}

.foot {
  background-color: rgb(114,181,115);
  height: 50px;
}

.foot p {
  padding-top: 15px;
}

.foot a {
  color: white;
}

.sum-spell {
  height: 35px;
}

.ultimate-champion-image {
  height: 60px;
  padding: 2px;
}

.ultimate-container {
  margin: 10px;
}

.brave-button {
  display: inline-block;
  font-size: 25px;
  margin-top: 100px;
  transform: skewX(20deg);
  background: rgb(114,181,115);
  color: white;
  border: none;
}

.brave-button span {
  display: block;
  transform: skewX(-20deg);
  padding: 3px 8px 3px 8px;
}

.brave-button:hover {
  border: none;
  background: white;
  color: rgb(114,181,115);
}*/

/*rid of button blue outline*/
/*button:focus {outline:0;}
ul.nav a:visited{background: rgb(114,181,115);}

.league-logo {
  height: 300px;
}

.champ-button {
  background-color: white;
  border: none;
  display: inline-block;
  font-size: 15px;
  transform: skewX(-20deg);
}

.champ-button:hover {
  background-color: rgb(114,181,115);
  border: none;
  display: inline-block;
  font-size: 15px;
  color: white;
}


.champ-button span {
  display: block;
  transform: skewX(20deg);
  padding: 3px 8px 3px 8px;
}

.selected-champ {
  margin-top: 20px;
}

.summoner-spells {
  padding: 3px;
}

.summoner-spells img {
  padding: 3px;
}

.selected-items img {
  padding: 3px;
}*/